<% const additionalStyles=`<link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css">`; %>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../..//@fortawesome/fontawesome-free/css/all.min.css">
    <% if (typeof additionalStyles !=='undefined' ) { %>
      <%- additionalStyles %>
        <% } %>

          <!-- Default CSS Libraries if block is not defined -->
          <link rel="stylesheet" href="../../../assets/css/style.css">
          <link rel="stylesheet" href="../../../assets/css/components.css">
  </head>

  <body>
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="/assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>

              <div class="card-body">
                <form id="loginForm" method="POST" action="/auth/auth-login" class="needs-validation" novalidate>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      Insira o Email </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Senha</label>
                      <div class="float-right">
                        <a href="/auth/auth-forgot-password" class="text-small">Esqueceu a Senha?</a>
                      </div>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      Insira a Senha
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                      <label class="custom-control-label" for="remember-me">Lembre de min</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">Login</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="simple-footer">
              Copyright &copy; Geral - Conservação e Limpeza 2024
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#loginForm').submit(function (event) {
          event.preventDefault();
          var formData = $(this).serialize();

          console.log('Iniciando envio da requisição para /auth/auth-login');

          $.ajax({
            type: 'POST',
            url: '/auth/auth-login',
            data: formData,
            dataType: 'json',
            success: function (response) {
              console.log('Resposta do servidor recebida:', response);
              window.location.href = '/';
            },
            error: function (error) {
              console.error('Erro durante o envio da requisição:', error.responseJSON);
              alert('Erro durante o login. Por favor, tente novamente.');
            }
          });
        });
      });
    </script>
    <!-- General JS Scripts -->
    <script src="../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../../node_modules/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script src="../../../node_modules/moment/min/moment.min.js"></script>
    <script src="../../../assets/js/stisla.js"></script>

    <!-- Template JS File -->
    <script src="../../../assets/js/scripts.js"></script>
    <script src="../../../assets/js/custom.js"></script>
  </body>

  </html>