<% const bodyContent=` <section class="section">
  <div class="section-header">
    <h1>Dashboard</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
    </div>
  </div>
  <div class="section-body">
    <h2 class="section-title">Estatísticas das Máquinas</h2>
    <p class="section-lead">
      Aqui você pode ver o estado atual das máquinas.
    </p>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Estatísticas
              <div class="dropdown d-inline">
                <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" href="#" id="orders-month">Janeiro</a>
                <ul class="dropdown-menu dropdown-menu-sm">
                  <li class="dropdown-title">Selecione o Mês</li>
                  <li><a href="#" class="dropdown-item active">Janeiro</a></li>
                  <li><a href="#" class="dropdown-item">Fevereiro</a></li>
                  <li><a href="#" class="dropdown-item">Março</a></li>
                  <li><a href="#" class="dropdown-item">Abril</a></li>
                  <li><a href="#" class="dropdown-item">Maio</a></li>
                  <li><a href="#" class="dropdown-item">Junho</a></li>
                  <li><a href="#" class="dropdown-item">Julho</a></li>
                  <li><a href="#" class="dropdown-item ">Agosto</a></li>
                  <li><a href="#" class="dropdown-item">Setembro</a></li>
                  <li><a href="#" class="dropdown-item">Outubro</a></li>
                  <li><a href="#" class="dropdown-item">Novembro</a></li>
                  <li><a href="#" class="dropdown-item">Dezembro</a></li>
                </ul>
              </div>
            </div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                <div class="card-stats-item-count">${stats.pendingCount}</div>
                <div class="card-stats-item-label">Pendentes</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">${stats.maintenanceCount}</div>
                <div class="card-stats-item-label">Manutenção</div>
              </div>
              <div class="card-stats-item">
                <div class="card-stats-item-count">${stats.inUseCount}</div>
                <div class="card-stats-item-label">Em uso</div>
              </div>
            </div>
          </div>
          <div class="card-icon shadow-primary bg-primary">
            <i class="fas fa-archive"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>Total de Máquinas</h4>
            </div>
            <div class="card-body">${stats.totalCount}</div>
          </div>
        </div>
      </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-statistic-2">
        <div class="card-chart">
          <canvas id="balance-chart" height="80"></canvas>
        </div>
        <div class="card-icon shadow-primary bg-primary">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>Gastos</h4>
          </div>
          <div class="card-body">
            R$ 187,13
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-statistic-2">
        <div class="card-chart">
          <canvas id="sales-chart" height="80"></canvas>
        </div>
        <div class="card-icon shadow-primary bg-primary">
          <i class="fas fa-shopping-bag"></i>
        </div>
        <div class="card-wrap">
          <div class="card-header">
            <h4>A decidir</h4>
          </div>
          <div class="card-body">
            5555
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h4>Gastos vs Lucro</h4>
        </div>
        <div class="card-body">
          <canvas id="myChart" height="158"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card gradient-bottom">
        <div class="card-header">
          <h4>Maquinas em Manutenção</h4>
          <div class="card-header-action dropdown">
            <a href="#" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Mês</a>
            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
              <li class="dropdown-title">Selecione o Período</li>
              <li><a href="#" class="dropdown-item">Hoje</a></li>
              <li><a href="#" class="dropdown-item">Semana</a></li>
              <li><a href="#" class="dropdown-item active">Mês</a></li>
              <li><a href="#" class="dropdown-item">Esse Ano</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body" id="top-5-scroll">
          <ul class="list-unstyled list-unstyled-border">
            <li class="media">
              <img class="mr-3 rounded" width="55" src="../assets/img/products/product-3-50.png" alt="product">
              <div class="media-body">
                <div class="float-right">
                  <div class="font-weight-600 text-muted text-small">Segunda Vez</div>
                </div>
                <div class="media-title">Máquina X</div>
                <div class="mt-1">
                  <div class="budget-price">
                    <div class="budget-price-square bg-primary" data-width="10%"></div>
                    <div class="budget-price-label">3</div>
                  </div>
                  <div class="budget-price">
                    <div class="budget-price-square bg-danger" data-width="43%"></div>
                    <div class="budget-price-label">R$38,700</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="media">
              <img class="mr-3 rounded" width="55" src="../assets/img/products/product-4-50.png" alt="product">
              <div class="media-body">
                <div class="float-right">
                  <div class="font-weight-600 text-muted text-small">Uma Vez</div>
                </div>
                <div class="media-title">Máquina Y</div>
                <div class="mt-1">
                  <div class="budget-price">
                    <div class="budget-price-square bg-primary" data-width="15%"></div>
                    <div class="budget-price-label">5</div>
                  </div>
                  <div class="budget-price">
                    <div class="budget-price-square bg-danger" data-width="60%"></div>
                    <div class="budget-price-label">R$91,455</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="media">
              <img class="mr-3 rounded" width="55" src="../assets/img/products/product-1-50.png" alt="product">
              <div class="media-body">
                <div class="float-right">
                  <div class="font-weight-600 text-muted text-small">Terceira Vez</div>
                </div>
                <div class="media-title">Máquina Z</div>
                <div class="mt-1">
                  <div class="budget-price">
                    <div class="budget-price-square bg-primary" data-width="25%"></div>
                    <div class="budget-price-label">10</div>
                  </div>
                  <div class="budget-price">
                    <div class="budget-price-square bg-danger" data-width="40%"></div>
                    <div class="budget-price-label">R$20,83</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="media">
              <img class="mr-3 rounded" width="55" src="../assets/img/products/product-3-50.png" alt="product">
              <div class="media-body">
                <div class="float-right">
                  <div class="font-weight-600 text-muted text-small">Quinta Vez</div>
                </div>
                <div class="media-title">Máquina V</div>
                <div class="mt-1">
                  <div class="budget-price">
                    <div class="budget-price-square bg-primary" data-width="30%"></div>
                    <div class="budget-price-label">15</div>
                  </div>
                  <div class="budget-price">
                    <div class="budget-price-square bg-danger" data-width="50%"></div>
                    <div class="budget-price-label">R$9,660</div>
                  </div>
                </div>
              </div>
            </li>
            <li class="media">
              <img class="mr-3 rounded" width="55" src="../assets/img/products/product-5-50.png" alt="product">
              <div class="media-body">
                <div class="float-right">
                  <div class="font-weight-600 text-muted text-small">Décima Vez</div>
                </div>
                <div class="media-title">Máquina P</div>
                <div class="mt-1">
                  <div class="budget-price">
                    <div class="budget-price-square bg-primary" data-width="35%"></div>
                    <div class="budget-price-label">20</div>
                  </div>
                  <div class="budget-price">
                    <div class="budget-price-square bg-danger" data-width="40%"></div>
                    <div class="budget-price-label">R$5,472</div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer pt-3 d-flex justify-content-center">
          <div class="budget-price justify-content-center">
            <div class="budget-price-square bg-primary" data-width="20"></div>
            <div class="budget-price-label">Quantidade de Máquinas</div>
          </div>
          <div class="budget-price justify-content-center">
            <div class="budget-price-square bg-danger" data-width="20"></div>
            <div class="budget-price-label">Valor Gasto em Manutenção</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  `;
  %>

  <% const additionalStyles=` <link rel="stylesheet" href="../../../node_modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="../../../node_modules/summernote/dist/summernote-bs4.css">
    <link rel="stylesheet" href="../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
    `;
    %>

    <% const additionalScripts=` <script src="../../../node_modules/simpleweather/jquery.simpleWeather.min.js">
      </script>
      <script src="../../../node_modules/chart.js/dist/Chart.min.js"></script>
      <script src="../../../node_modules/jqvmap/dist/jquery.vmap.min.js"></script>
      <script src="../../../node_modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
      <script src="../../../node_modules/summernote/dist/summernote-bs4.js"></script>
      <script src="../../../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
      <script src="../../../assets/js/page/index.js"></script>
      <script src="../../../node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
      <script src="../../../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
      `;
      %>

      <%- include('layouts/master.ejs', { bodyContent: bodyContent, additionalStyles: additionalStyles,
        additionalScripts: additionalScripts }) %>